{% for namespace in need_secret_namespaces %}
# secret属于不同的namespace, 需要针对namespace进行处理
---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: {{docker_registry_secret_name}}
  namespace: {{namespace}}
data:
  .dockerconfigjson: {{dockerconfigjson | b64encode }}
{% endfor %}