{
  "auths": {
      "{{docker_registry_server}}":{
        "username": "{{docker_registry_username}}",
        "password": "{{docker_registry_pwd}}",
        "email": "{{docker_registry_email}}",
        "auth": "{{(docker_registry_username + ':' + docker_registry_pwd)| b64encode}}"
      }
  }
}